# Discord Bot Token (from https://discord.com/developers/applications)
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Application Client ID
CLIENT_ID=your_application_client_id_here

# Channel ID where map change alerts will be sent
CHANNEL_ID=your_channel_id_here
